# Question 1
## Consider the following Python module:

## What value is displayed when the last expression (a) is evaluated? Explain your answer by indicating what happens in every executed statement.

In [62]:
a = 0
def b():
 global a
 a = c(a)
def c(a):
 return a + 2

In [64]:
b() #First and formost, the value of a is increamented by 2 as c(a) returns the global var(a) + 2. a = 2
b()  #After that the global a is increamented by 2, that makes a = 4.
b()  #Finally,the global a is increamented again by 2. a = 6
a    #Hence, prints the final value of a.

6

# Question 2
## Function fileLength(), given to you, takes the name of a file as input and returns the length of the file:
### fileLength('midterm.py')
### 284
### fileLength('idterm.py')
### Modify function fileLength()

In [ ]:
def file_length(file_name):
    try:
        file=open(file_name)
        contents=file.read()
        file.close()
        print(len(contesnts))
    except:
        print("File "+file_name+" not found")
file_length('idterm.p')

# Question 3
### Write a class named Marsupial that can be used as shown below

In [ ]:
class Marsupial:
    def __init__(self, lis = []):
        self.lis = []
    def put_in_pouch(self, x):
        self.lis.append(x)
    def pouch_contents(self):
        print(self.lis)

In [ ]:
m = Marsupial()
m.put_in_pouch('doll')
m.put_in_pouch('firetruck')
m.put_in_pouch('kitten')
m.pouch_contents()

# Question 4
## Write function collatz() that takes a positive integer x as input and prints the Collatz sequence starting at x. A Collatz sequence is obtained by repeatedly applying this rule to the previous number x in the sequence:
## x = { 𝑥/2 𝑖𝑓 𝑥 𝑖𝑠 𝑒𝑣𝑒𝑛
## 3𝑥 + 1 𝑖𝑓 𝑥 𝑖𝑠 𝑜𝑑𝑑
## Your function should stop when the sequence gets to number 
## Your implementation must be recursive, without any loops.

In [34]:
def collatz(a):
    while a > 1:
        if a % 2 == 0:
            print(a//2)
            a = a //2
        elif a % 2 ==1:
            print(3*a+1)
            a = 3*a+1
        else:
            print(num)
def Num():
    global a
    a = (input("> "))
    try:
        a = int(a)
    except ValueError:
        print('plese enter a number')
        Num()
Num()
collatz(a)

> 10
5
16
8
4
2
1

# Question 5
## Write a recursive method binary() that takes a non-negative integer n and prints the binary representation of integer n.

In [58]:
def binary(n):
    if n > 1:
        binary(n//2)
 
    print(n % 2, end="")

In [59]:
binary(1)

1

In [60]:
binary(3)

11

In [61]:
binary(9)

1001

# Question 6

In [15]:
from html.parser import HTMLParser
class HeadingParser(HTMLParser):
  def handle_data(self, data):
    print(data)

In [16]:
infile = open('w3.html')
content = infile.read()
infile.close()
hp = HeadingParser()
hp.feed(content)

Change_me














W3C Mission


Principles

# Question 7
### Implement recursive function webdir() that takes as input: a URL (as a string) and non-negative integers depth and indent. Your function should visit every web page reachable from the starting URL web page in depth clicks or less, and print each web page's URL. As shown below, indentation, specified by indent, should be used to indicate the depth of a URL.

# Question 8
## Write SQL queries on the below database table that return:
### a) All the temperature data.

In [ ]:
SELECT Temperature(C) as temp FROM TABLE;

### b) All the cities, but without repetition

In [ ]:
SELECT DISTINCT(City) FROM TABLE;

### c) All the records for India.

In [ ]:
SELECT * FROM TABLE WHERE Country='INDIA';

### d) All the Fall records.

In [ ]:
SELECT * FROM TABLE WHERE Season='Fall';

### e) The city, country, and season for which the average rainfall is between 200 and 400 millimeters.

In [ ]:
SELECT City,Country,Season FROM TABLE WHERE Rainfall (mm) as rainfall BETWEEN 200 AND 400;

### f) The city and country for which the average Fall temperature is above 20 degrees, in increasing temperature order.

In [ ]:
SELECT City,Country FROM TABLE WHERE Rainfall (mm) as rainfall > 20 ORDER BY rainfall;

### g) The total annual rainfall for Cairo

In [ ]:
step 1: Rename the Rainfall (mm) column as rainfall
SELECT Rainfall (mm) AS rainfall,City from TABLE
SELECT SUM(rainfall) FROM TABLE WHERE City = "Cairo";

### h) The total rainfall for each season

In [ ]:
SELECT SUM(Rainfall (mm) FROM TABLE GROUP BY Season;

# Question 9
## Suppose list words is defined as follows:
## words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over','the', 'lazy', 'dog']
### Write list comprehension expressions that use list words and generate the following lists:

In [22]:
def Upper (words) :
    for i in range(len(words)):
        words[i]=words[i].upper()
        
    return words
words = ['The', 'quick','brown','fox','jump','over','the','lazy','dog']
#call function
list_Upper=Upper (words)
#print new List
print(list_Upper)

['THE', 'QUICK', 'BROWN', 'FOX', 'JUMP', 'OVER', 'THE', 'LAZY', 'DOG']

In [23]:
def Lower(words) :
    for i in range(len(words)):
        words[i]=words[i].lower()
        
    return words
words = ['The', 'quick','brown','fox','jump','over','the','lazy','dog']
#call function
list_Lower=Lower (words)
#print new List
print(list_Lower)

['the', 'quick', 'brown', 'fox', 'jump', 'over', 'the', 'lazy', 'dog']

In [24]:
def Length(words) :
    for i in range(len(words)):
        words[i]=len(words[i])
        
    return words
words = ['The', 'quick','brown','fox','jump','over','the','lazy','dog']
#call function
list_Length=Length (words)
#print new List
print(list_Length)

[3, 5, 5, 3, 4, 4, 3, 4, 3]

In [28]:
def Low_up_len(words):
    list=[]
    temp=[]
    for i in range(len(words)):
        temp.append(words[i].upper())
        temp.append(words[i].lower())
        temp.append(len(words[i]))
        list.append(temp)
        
        temp=[]
       
        
    return list
words = ['The', 'quick','brown','fox','jump','over','the','lazy','dog']
#call function
list=Low_up_len(words)
#print new List
print(list)

[['THE', 'the', 3], ['QUICK', 'quick', 5], ['BROWN', 'brown', 5], ['FOX', 'fox', 3], ['JUMP', 'jump', 4], ['OVER', 'over', 4], ['THE', 'the', 3], ['LAZY', 'lazy', 4], ['DOG', 'dog', 3]]

In [31]:
def more_4(words):
    list=[]
    temp=[]
    for i in range(len(words)):
        if len(words[i])>=4:
            list.append(words[i])
        
       
        
    return list
words = ['The', 'quick','brown','fox','jump','over','the','lazy','dog']
#call function
list=more_4(words)
#print new List
print(list)

['quick', 'brown', 'jump', 'over', 'lazy']